.mentionslegales {
text-align: center;
    background-color: #FBD6E1;
    border-radius: 28px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.268);
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 24px 36px;
    min-width: 400px;
    max-width: 800px;
    width: 100%;
    gap: 32px;
}

.mentions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*gap: 10px;*/
    margin-bottom: 60px;
}

.h1Mentions {
margin-top: 0;
margin-bottom: 30px;
}

.h2Mentions {
margin-top: 20px;
margin-bottom: 20px;
}

.pMentions {
margin-top: 0;
margin-bottom: 50px;
line-height: 20px;
}