html {
  scroll-behavior: smooth;
}

body {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  padding-top: 100px;
  background-color: #f6aac03d;
  margin: 0;
}








/* --- BARRE DE NAV --- */
header {
  position: fixed;
  /*pour que la barre reste fixe en haut*/
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 15px 0;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
  background-color: #FFF9F7;
  border: 1px solid #541507;
  border-radius: 50px;
  padding: 8px 30px;
  gap: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.152);
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 25px;
}

.menu li {
  display: inline-block;
}

.menu a {
  text-decoration: none;
  color: #541507;
  font-weight: 600;
  transition: color 0.3s;
}

.menu a:hover {
  color: #e6007e;
}




/**** BANNIERE AVEC LA VIDEO ****/
.banniere {
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  /* background-color: pink; */
  text-align: center;
  font-size: 11rem;
}




/* --- TEXTES ---*/
/*** --- LES TEXTES PAS EN PX!!!!!!!! --- ***/
h1 {
  font-family: 'Kalufira', sans-serif;
  font-weight: 300;
  font-size: 2.7rem;
  margin-bottom: 40px;
  color: #541507;
}

h2 {
  margin: 70px 0 45px 0;
  font-weight: 800;
  color: #541507;
}

h3 {
  color: #541507;
}

p {
  color: #541507;
}

a {
  color: #541507;
}

.contacts h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.reco h2 {
  /* font-size: 1.1rem; */
  /*plus petit*/
  margin-bottom: 4px;
}

.projet h2 {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.reco h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.apropos a {
  text-decoration: none;
  font-weight: 600;
}

.presentation .texte {
  max-width: 600px;
}

.presentation p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.projet p {
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 0;
}

/* --- texte reco avec effet 3D --- */
.textReco {
  color: #541507;
  background-color: #FFF9F7;
  border: 1px solid black;
  border-radius: 60px;
  padding: 40px 30px;
  box-shadow: 10px 10px 0px #541507;
  width: 100%;
  line-height: 1.5;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.textReco:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 0px #541507;
}

.contact-item a {
  text-decoration: none;
  color: #541507;
  font-weight: 500;
  transition: color 0.3s ease;
}

.contact-item a:hover {
  color: #e6007e;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0.9rem;
}

.copyright {
  margin: 0;
}

.mentions {
  text-decoration: none;
  color: #541507;
  border-bottom: 1px solid;
  transition: color 0.3s ease;
}

.mentions:hover {
  color: #e6007e;
}

#footer {
  position: relative;
  font-size: 0.9rem;
}

.description {
  display: block;
  justify-content: space-between;
}

.descriptionprojets {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 60px 40px;
  max-width: 1200px;
  /*margin: 45px auto;
  margin-bottom: 50px;
  margin: 0 20px 50px 20px;*/
}

.introprojets {
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 60px 40px;
  max-width: 1200px;
  /*margin: 0 auto;*/
}


.tetedescription {
  text-align: center;
}

.popup p {
  font-size: 1.1rem;
}






/* --- SECTIONS --- */
#apropos.section,
#mesprojets.section,
#recommandations.section {
  margin-top: 3em;
  margin-bottom: 3em;
  padding-top: 0.5em;
  padding-bottom: 3em;
  /* background-color: pink; */
}

#apropos.section {
  background-color: #FBD6E1;
}

#footer.section {
  margin-top: 3em;
  padding-top: 0.5em;
  padding-bottom: 3em;
  background-color: #FBD6E1;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 60px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.photoMoi {
  width: 350px;
  max-width: 100%;
  height: auto;
  border: 2px solid #541507;
  border-radius: 15px;
  box-shadow: 10px 10px 0px #541507;
  /* ombre noire (que j'ai changé en marron */
}

.boutonTelecharger {
  display: inline-block;
  padding: 12px 25px;
  border: 2px solid #541507;
  border-radius: 10px;
  text-decoration: none;
  background-color: #FFF9F7;
  color: #541507;
  font-weight: 600;
  transition: all 0.3s ease;
}

.boutonTelecharger:hover {
  background-color: #541507;
  color: #FFF9F7;
  border-color: #541507;
}

#logiciels {
  text-align: center;
  margin: 100px auto;
  max-width: 1200px;
}

#mesprojets {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* grid des projets */
.liste-projets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 100px;
  justify-items: center;
}

.projet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projet .carte {
  /*background-color: #FFF9F7;*/
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 0px #541507;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

}

.carte img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
}

.projet .carte:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 0px #541507;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

#recommandations {
  text-align: center;
  margin: 100px;
  padding: 0 20px;
}

#recommandations .reco-parties {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 90px;
}

.reco {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}


.textebas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.textebas p {
  width: 230px;
  height: 66px;
  margin: 25px;
}

.textebas a {
  transition: color 0.3s ease;
  color: #FDB4BC;
}

.textebas a:hover {
  color: white;
}

.voirleprojet {
  font-weight: 700;
  margin-top: 10px;
  border-radius: 12px;
  width: 161px;
  height: 36px;
  color: #FDB4BC;
  background-color: #541507;
  font-size: 1rem;
  padding-left: 21px;
  padding-right: 21px;
}



/*** POPUP ***/
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 30px;
  /*max-width: 1000px;*/
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.popup p {
  margin-bottom: 35px;
}

.popup h2 {
  margin-top: 10px;
}

.popup-close {
  position: fixed;
  top: 50px;
  right: 80px;
  background: transparent;
  border: none;
  font-weight: 900;
  font-size: 40px;
  font-family: Kalufira;
  cursor: pointer;
  color: #541507;
}

.popup-close:hover {
  color: #af2d10;
  transition: color 0.3s ease;
}

.popup a:hover {
  color: white;
}

.popup::-webkit-scrollbar {
  width: 13px;
}

.popup::-webkit-scrollbar-track {
  background: #FBD6E1;
  border-radius: 10px;
}

.popup::-webkit-scrollbar-thumb {
  background: #541507;
  border-radius: 10px;

}

.popup::-webkit-scrollbar-thumb:hover {
  background: #af2d10;
  transition: color 0.3s ease;
}





/* logos et images */
.logo-grand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-grand img {
  width: 230px;
  height: auto;
  border-radius: 50%;
}

.petitslogosFooter {
  width: auto;
  height: 20px;
}

.logo-footer img {
  width: 180px;
  height: auto;
}

.logoscrea,
.logosdev {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* pour s’adapter aux petits écrans */
  gap: 40px;
  margin-bottom: 40px;
}

.logoscrea img,
.logosdev img {
  width: 80px;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* zoom FLUIDE pendant le hover */
}

/* zoom pendant le hover */
.logoscrea img:hover,
.logosdev img:hover {
  transform: scale(1.1);
  /* border-radius: 10px; */
}


.tetedescription img {
  width: 700px;
  border-radius: 15px;
  /*border: 2px solid #541507;*/
  box-shadow: 10px 10px 0px #541507;
}

.descriptionprojets img {
  width: 419px;
  border-radius: 15px;
  box-shadow: 10px 10px 0px #541507;
}

.galerie {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}



.galerie img {
  width: 309px;
  height: 230px;
  border-radius: 15px;
  box-shadow: 10px 10px 0px #541507;
}








/* --- responsive --- */
@media (max-width: 900px) {
  .presentation {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .presentation .texte {
    max-width: 90%;
  }

  #logiciels h1 {
    font-size: 2.7rem;
  }

  #logiciels h2 {
    font-size: 1.3rem;
  }

  .logoscrea img,
  .logosdev img {
    width: 60px;
  }

  .liste-projets {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 60px 40px;
  }

  .logo-grand img {
    width: 180px;
  }

  #recommandations .reco-parties {
    flex-direction: column;
    align-items: center;
  }

  .reco {
    width: 80%;
  }

  #footer {
    padding: 40px 20px;
  }

  .footer-content {
    flex-direction: column;
    gap: 40px;
  }

  .contacts {
    align-items: center;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }
}